In [3]:

from pandas import DataFrame

boxes = {'Color': ['Green','Green','Green','Blue','Blue','Red','Red','Red'],
         'Shape': ['Rectangle','Rectangle','Square','Rectangle','Square','Square','Square','Rectangle'],
         'Price': [10,15,5,5,10,15,15,5]
        }

df = DataFrame(boxes, columns= ['Color','Shape','Price'])
# print (df)

df.loc[df['Color'] =='Green']

   Color      Shape  Price
0  Green  Rectangle     10
1  Green  Rectangle     15
2  Green     Square      5

In [14]:
import numpy as np  # Số
import pandas as pd # Data wrangling, Data Frame.
import streamlit as st
import pyodbc
import subprocess
import os 

PO_input = '000' + '101176640'
print('PO là:', PO_input)
Model_input = 'GD4590-BK'
MESControlled = '0'



# Model_input =st.text_input('Model Input','Input model here !!!')
#-------------Connection Section-------------------


def conn_vnmacsdb():
    conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=vnmacsdb;DATABASE=ACSEEState;UID=reports;PWD=reports')
    conn1 = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=vnmacsdb;DATABASE=acs ee;UID=reports;PWD=reports')
    cursor = conn.cursor()
    cursor_acsee = conn1.cursor()
    #     conn_vnmacsdb()
    sql_testlog="SELECT top 10 * FROM testlog  order by test_date_time desc"
    testlog_view=pd.read_sql(sql_testlog,conn1)
#     print(testlog_view)
    print(sql_testlog.loc[fr['ACS_Serial'] =='G20CAQBWQ'])
    
conn_vnmacsdb()

PO là: 000101176640

AttributeError: 'str' object has no attribute 'loc'