Connection_server_vnmsrv601
1. Kết Nối server vnmsrv601.
2. Kiểm tra có tồn tại tên của 1 biến trong table đó.
3. Kiểm tra và xuất ra 1 file.txt

In [32]:
import pyodbc 
import numpy as np
import pandas as pd
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=vnmsrv601.dl.net\Siplace_2008R2EX;DATABASE=yRecTrack;UID=Sa;PWD=Siplace.1')

# sql='SELECT top 10 * FROM Doan_LabelcodeFruPP'
# data = pd.read_sql(sql,conn)
# data
#sql='''SELECT top 10 * FROM Doan_LabelcodeFruPP' where Model="?"'''

sql='''SELECT top 10 * FROM Doan_LabelcodeFruPP' where Model = ?'''

Model = conn.cursor()
Model.execute(sql,var)
var = (Model,)
Model.execute(sql,var)

result = Model.fetchone()
if result is not None:
    print('Success:',result)
else:
    print('No row found for', result)

ProgrammingError: ('The SQL contains 0 parameter markers, but 1 parameters were supplied', 'HY000')